#cloud-config

coreos:
  etcd2:
    discovery: https://discovery.etcd.io/%(discovery_token)s
    advertise-client-urls: https://$public_ipv4:2379
    initial-advertise-peer-urls: https://$private_ipv4:2380
    listen-client-urls: https://0.0.0.0:2379
    listen-peer-urls: https://$private_ipv4:2380
    debug: true
  fleet:
    public-ip: $private_ipv4
    etcd_servers: https://$private_ipv4:2379
  units:
    - name: etcd2.service
      command: start
    - name: fleet.service
      command: start

write_files:
  - path: /run/systemd/system/etcd2.service.d/30-certificates.conf
    permissions: 0644
    content: |
      [Service]
      Environment=ETCD_CA_FILE=/home/core/ca.pem
      Environment=ETCD_CERT_FILE=/home/core/node.pem
      Environment=ETCD_KEY_FILE=/home/core/node-key.pem
      Environment=ETCD_PEER_CA_FILE=/home/core/ca.pem
      Environment=ETCD_PEER_CERT_FILE=/home/core/node.pem
      Environment=ETCD_PEER_KEY_FILE=/home/core/node-key.pem
  - path: /run/systemd/system/fleet.service.d/30-certificates.conf
    permissions: 0644
    content: |
      [Service]
      Environment=FLEET_ETCD_CAFILE=/home/core/ca.pem
      Environment=FLEET_ETCD_CERTFILE=/home/core/node.pem
      Environment=FLEET_ETCD_KEYFILE=/home/core/node-key.pem
  - path: /etc/profile.d/10-certificates.sh
    permissions: 0644
    content: |
      export ETCDCTL_CA_FILE=/home/core/ca.pem
      export ETCDCTL_CERT_FILE=/home/core/node.pem
      export ETCDCTL_KEY_FILE=/home/core/node-key.pem
  - path: /etc/profile.d/20-profile.sh
    permissions: 0644
    content: |
      export ETCDCTL_ENDPOINT=https://$private_ipv4:2379
